apiVersion: v1
kind: Service
metadata:
  name: {{ include "kubeaid-agent.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubeaid-agent.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  selector:
    {{- include "kubeaid-agent.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
