apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "puppetserver.name" . }}-g10k-config
data:
  g10k_code.yaml: |
    cachedir: '/etc/puppetlabs/code/g10k_cache'
    sources:
      :linuxaid:
        remote: '{{ .Values.puppetserver.puppetserver.puppeturl }}'
        basedir: '{{ .Values.puppetserver.puppetserver.puppetbasedir }}'
  g10k_hiera.yaml: |
    :cachedir: '/etc/puppetlabs/code/g10k_cache'
    :sources:
      {{- if .Values.g10k.hiera.hieradataurl }}
      :hiera_repo:
        remote: '{{ .Values.g10k.hiera.hieradataurl }}'
        basedir: '/etc/puppetlabs/code/hiera-data'
      {{- end }}
      {{- if .Values.g10k.hiera.extraRepository }}
      {{- toYaml .Values.g10k.hiera.extraRepository | nindent 6 }}
      {{- end }}
